<h1>@Model.Name</h1>
<img class="img-left" src="~/Images/@Model.Image" alt="Card image cap">
<div class="card" style="width: 50rem; ">
    <div class="card-body">
        <h5 class="card-title">@Model.Name</h5>
        <h3 class="card-text">@Model.Salary $</h3>
        <p class="card-text">@Model.Address</p>
    </div>
</div>
