@model List<Course>
@{
    int num = 0;
}
<a href="/Course/Add">Add new course</a>
<table class="table">
    <thead class="thead-dark">
        <tr>
            <th scope="col">Name</th>
            <th scope="col">Degree</th>
            <th scope="col">Minimum Degree</th>
            <th scope="col">Hours</th>
            <th scope="col">Details</th>
            <th scope="col">Update</th>
            <th scope="col">Delete</th>
        </tr>
    </thead>
    <tbody>
        @foreach (Course course in Model)
        {

            <tr>

                <th scope="row">@course.Name</th>
                <td>@course.Degree</td>
                <td>@course.MinDegree</td>
                <td>@course.Hours</td>
                <td><a href="/Course/Details/@course.Id">Details</a></td> 
                 <td><a href="/Course/Update/@course.Id">Update</a></td> 
                 <td><a href="/Course/Delete/@course.Id">Delete</a></td>
            </tr>
        }
    </tbody>
</table>
<nav aria-label="Page navigation example">
    <ul class="pagination justify-content-center">
        <li class="page-item disabled">
            <a class="page-link" href="#" tabindex="-1"></a>
        </li>
        <li class="page-item"><a class="page-link" href="#">1</a></li>
        <li class="page-item"><a class="page-link" href="#">2</a></li>
        <li class="page-item"><a class="page-link" href="#">3</a></li>
        <li class="page-item">
            <a class="page-link" href="#"></a>
        </li>
    </ul>
</nav>
